img{
	display:block;
	margin-left:auto;	
	margin-right:auto;
}

.btn-group{
	    float: right;
    padding-top: .5em;
	padding-bottom: .5em;
	
	}
.carousel-caption{
	font-size: 3em;
}

.thumbnail{
	margin-top: 3em;
}

h3 {
	text-align: center;
}
.row h2 {
	margin-top: 2em;
}

	

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















